---
import Layout from '../layouts/Layout.astro';
import Header from '../components/header.astro';
---

<Layout title="Portfolio">

	<Header title="Portfolio"/>
    <div>
        <a href="/">Back to home</a>
    </div>
</Layout>

<style>
    .side .title {
        color: black;
        font-family: "Rubix", sans-serif;
    }
</style>