---
import Layout from '../layouts/Layout.astro';
import Header from '../components/header.astro';
import Cards from '../components/Card.astro';
import Socials from '../components/Socials.astro';

import { Icon } from "astro-icon";
---

<Layout title="Portfolio">

	<Header title="Portfolio"/>

	<section>

		<div id="projects">
			<h1>Projects</h1>
		</div>

		<Cards class="over"/>

		<Icon name="blob-scene-haikei" class="spacer1"/>
		<a href="/test"><button>Test Page</button></a>
	</section>

	<section id="skills">

	</section>
	<button onclick="scrollToTop()">Top</button>
	<Socials/>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
	}

	.over {
		z-index: 2;
		padding-bottom: -50px;
	}

	.spacer1 {
		aspect-ratio: 960/600;
		width: 100%;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		z-index: -10;
	}

	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		border: 1px solid rgba(var(--accent), 25%);
		background-color: white;
		padding: 1rem;
		border-radius: 0.4rem;
	}

	.instructions code {
		font-size: 0.875em;
		font-weight: bold;
		background: rgba(var(--accent), 12%);
		color: rgb(var(--accent));
		border-radius: 4px;
		padding: 0.3em 0.45em;
	}

	.instructions strong {
		color: rgb(var(--accent));
	}

	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}

	#socials {
		margin: auto;
		text-align: center;
		font-family: "Montserrat", sans-serif;
		font-size: 30px;
	}

	#projects {
		margin: auto;
		text-align: center;
		font-family: "Montserrat", sans-serif;
		font-size: 40px;
		margin-bottom: 100px;
		letter-spacing: 1cm;
	}
</style>

<script>
	function scrollToTop() {
	  window.scrollTo(0, 0);
	}
</script>