---
import Layout from '../layouts/Layout.astro';
---

<div>
    <a href="/">Back to home</a>
</div>

<div id="left-side" class="side">
    <h2 class="title">
        TODAY IS A DAY
    </h2>
</div>

<div id="right-side" class="side">
    <h2 class="title">
        today is a day
    </h2>
</div>

<style>
    .side .title {
        color: black;
        font-family: "Rubix", sans-serif;
    }
</style>