---
import Header from '../components/header.astro';
---

<Header title="Portfolio"/>

<div class="main">
    <ul>
        <li class="cards_item" id="item_salad">
            <div class="card">
                <div class="card_image"><img src="https://assets.codepen.io/652/photo-1468777675496-5782faaea55b.jpeg" alt="mixed vegetable salad in a mason jar. "></div>
                <div class="card_content">
                <h2 class="card_title">Farmstand Salad</h2>

                    <div class="card_text">
                        <p>Dig into the freshest veggies of the season! This salad-in-a-jar features a mixture of leafy greens and seasonal vegetables, fresh from the farmer's market.</p>
                        <p>Served with your choice of dressing on the side: housemade ranch, cherry balsamic vinaigrette, creamy chipotle, avocado green goddess, or honey mustard. Add your choice of protein for $2 more. </p>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>


<style>
    body {
        background-color: #24252a;
    }

    .main {
        margin: 0 auto;
    }

    .cards_item {
        display: flex;
        padding: 1rem;
        max-width: 800px;
        margin: 0 auto;
    }

    .card_image {
        max-height: 250px;
        margin-top: -24px;
        
        img {
            width: cover;
            max-width: 800px;
            height: 100%;
            object-fit: cover;
        }
    
        &:after {
            content: "";
            display: block;
            width: 100%;
            height: 100px;
            position: relative;
            top: -100px;
            background: linear-gradient(0deg, #091014 10%, rgba(0, 0, 0, 0) 100%);
        }
    }

    .card {
        background-color: #DFDFDF;
        border-radius: 0.25rem;
        box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }

    .card_content {
        padding: 1rem;
        z-index: 1;
        display: block;
    }

    .card_title {
        font-size: 72px;
        line-height: 72px;
        margin-top: -50px;
        margin-bottom: 24px;
        text-shadow: black 1px 0 15px;
        color: #24252a;
    }

    .card_text {
        color: #24252a;
        font-family: 'Raleway', sans-serif;
        font-weight: 200;
        p {
            max-width: 700px;
        }
    }

    #item_fig .card:after {
        content: "Seasonal";
        color: rgba(234, 225, 175, 0.8);
        font-weight: 600;
        font-style: italic;
        text-transform: uppercase;
        display: block;
        width: 10ch;
        height: 1.5em;
        padding: 0.2em 0.4em;
        position: relative;
        bottom: calc(100% - 2.5em);
        left: 1em;
    }
</style>