<footer class="footer">
    <div class="container">
      <div>
        <h3>Astro</h3>
        <p>
          This is a portfolio website to present myself and show my works. Visit
          the <a href="https://astro.build" target="_blank">official website</a> to learn
          more about the JavaScript framework I used to make this website.
        </p>
      </div>
    </div>
  </footer>
  
  <style>
    .footer {
      background: #c64a62;
      color: #fff;
      text-align: left;
      padding: 20px;
      margin-top: 60px;
    }
  
    .container {
      align-items: center;
      margin-bottom: 50px;
    }
  
    a {
      color: #A60067;
    }
  
    a:hover {
      text-decoration: underline;
    }
  
    h3 {
      margin-bottom: 10px;
      font-size: 30px;
    }
  </style>